body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.page-container {
    display: grid;
    grid-template-rows: auto-fit auto-fit auto-fit;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
}
.container {
    grid-row: 2;
    height: 75vh;
}