.header-container {
    height: 70px;
    width: 100%;
    background-color: white;
    grid-row: 1;
    border-bottom: 1px #CCCCCC;
    display: grid;
    align-items: center;
}
.logo {
    background-image: url("../images/logo.png");
    background-repeat: none;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}