body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    font-size: 14px;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.container {
    grid-row: 2;
    position: absolute;
    top: 71px;
    left: 10%;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    width: 80%;
}