.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 15%
}
.filters button:hover {
    opacity: 90%;
}
.locations .amenities{
    width: 25%;
    height: 100%;
}
.locations {
    border-right: #DDDDDD 1px;
}
.locations h3, .amenities h3 {
    font-weight: 600;
}
.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
}